.text-blocks {
    padding: 20px 20px 30px;
  
    &__basic {
      text-align: left;
      padding-bottom: 20px;
      position: relative;
      font:bold 12px Calibri,sans-serif;

    &:after {
      content: "read more...";
      position: absolute;
      bottom: 0;
      right: 10px;
      color: orange;
      cursor: pointer;
      font-style: italic;
    }
  }
}
