@font-face {
  font-family: "Bebas"; 
  src: url("../fonts/Bebas.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Bebas_neue_regular"; 
  src: url("../fonts/Bebas_neue_regular.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Big-caslon-medium"; 
  src: url("../fonts/Big-caslon-medium.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Bree-serif"; 
  src: url("../fonts/Bree-serif.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Brushscriptstd"; 
  src: url("../fonts/Brushscriptstd.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Capture-it"; 
  src: url("../fonts/Capture-it.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Giddyup-Std"; 
  src: url("../fonts/Giddyup-Std.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Lobster"; 
  src: url("../fonts/Lobster.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Ubuntu"; 
  src: url("../fonts/Ubuntu.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Ubuntu_Condensed"; 
  src: url("../fonts/Ubuntu_Condensed.ttf") format("truetype"); 
} 
@font-face {
  font-family: "Ubuntu-bold"; 
  src: url("../fonts/Ubuntu-bold.ttf") format("truetype"); 
} 