body {
    margin: 0px;
    padding: 0px;
}
header {
    position: relative;
    height: 100px;
    z-index: 10;  
}
header>div {
    position: fixed;
    background: #fff; 
    width: 100%;
    border-bottom:3px solid #fb9c06;
}
.logo {
    margin-left:133px;
    float: left;
    width: 200px;
    height: 100px;
}
.buttons {
    float: right;
    margin-right:140px;  
}
button {
    border:none;
    background-color:#fff;
    cursor: pointer;
    color: #6e6d6bc5;
    font-weight: bold;
}
.slider {
    border-top:3px solid #fb9c06;
    border-bottom:3px solid #fb9c06;
    background: url(/img/bigorange.jpg);
    background-size: cover;
    position: relative;
    height: 300px;
    width: 1280px;
}
.text-slider {
    position: absolute;
    top:60px;
    left: 100px;
    height: 210px; 
}
.text-slider>div {
    margin:50px 0 0 40px;
    width: 240px;
    font-family: "Bebas";
    word-spacing: 2px;
    font-size: 20px;
}
.likefirst,.likesecond {
    height: 27px;
    text-align: center; 
}
.likefirst { 
    background-color:#6e6d6bd2;
    color:#fb9c06;
    margin:10px 10px 10px 5px;   
} 
.likesecond { 
    background-color: #fb9d06ab;
    color:#6e6d6b;
    margin:20px 10px 10px 5px; 
}
.wrapper {
    margin: 0 125px 0 125px;
    max-width: 1024px;
    min-width: 500px;
}
.captn {
    color: #fb9c06;
    text-align:center;
    text-decoration: underline;
    margin-bottom: 10px;
    font:bold 22px "St-Marie",sans-serif;
}
@import "./partials/text-blocks/text-blocks.scss";

.fourblocks {
  display: flex;

  &__subitem {
    width: 25%;
  }
}
@import "./partials/user-card/user-card.scss";

.three-column {
  display: flex;
  
  &__item {
    width: 33%;
 }
}
.fldst {
    border:none;
}
.fldst p {
    margin-left: 5px;
    color: #fb9c06;
    font-family: "St-Marie",sans-serif;
}
.nolast {
    width: 880px;
    height: 15px;
    margin-left: 30px;
}
textarea {
    height: 50px;
    margin-left: 12px;
    overflow: hidden;
    resize: none;
}
.nolast,textarea {
    background: #6e6d6b33;
    border: none;
    box-shadow: 1px 2px 3px -3px #000000 inset;
}
.lastlab {
    vertical-align: top;
}
form>input {
    color: #fff;
    float: right;
    margin: 5px 50px 20px;
    border: none;
    width: 80px;
    cursor: pointer;
    font-family: "St-Marie",sans-serif;
    font-size: 16px;
}
form>input,footer {
    box-shadow:0 3px 2px #cc830f;
    background-color: #fb9c06;
    color: #fff;
}
footer {
    height: 30px;
    clear: both;
    width: 1280px;
}
footer>p {
    text-transform: uppercase;
    padding-top: 5px;
    text-align: center; 
    font-family: "St-Marie",sans-serif;
    font-size: 18px;
}
@media screen and (width:500px){
    .buttons{
        float: left;
    }
}
@font-face {
    font-family: "Bebas"; 
    src: url("../fonts/bebasUpperBold.ttf") format("truetype"); 
    } 
        
@font-face { 
    font-family: "St-Marie"; 
    src: url("../fonts/st-marie.ttf") format("truetype"); 
    } 



    
        
