@import "./normalize.scss";

header {
    position: relative;
    height: 1000px;
    z-index: 1;  
    background: url(/img/firstbackgr.jpg) no-repeat;
    background-size: cover;
}
.menu {
    position: fixed;
    background:rgba(0, 0, 0, 0.205); 
    width: 100%;
    height: 50px;  
}
.logo {
    font-family: "Scriptina";
    margin-left:133px;
    color: #fff;
    font-size: 40px;
    float:left;
    text-transform:capitalize;
}
.menu-item {
    margin: 25px 100px 25px 300px;
}
.menu-item>div { 
    display: inline-block;
    border:none;
    text-transform: uppercase;
    color:#fff;
    font-family: "Alegreya";    
}
.menu-item>div:after {
    content: "~";
    padding: 25px 30px;
    color:#fff
  }
  .menu-item>div:last-child:after {
    content: " ";
  }
.icon {
    background:rgba(0, 0, 0, 0.205); 
  }
@font-face {
    font-family: "Scriptina"; 
    src: url("../fonts/scriptina.ttf") format("truetype"); 
    } 
@font-face {
    font-family: "Alegreya"; 
    src: url("../fonts/alegreya.ttf") format("truetype"); 
    } 