body {
    margin: 0px;
    padding: 0px;
}
.logo {
    margin-left:132px;
    float: left;
    width: 100px;
    height: 80px;
}
.toplogo, .downlogo {
    display:inline-block;
}
.toplogo {
    color:#fb9c06;
    float:left;
    margin-top:20px;
}
.downlogo {
    color:#6e6d6b;
    text-transform: uppercase;
    clear: both;
    margin-left: -45px;
    margin-top:40px;
    font-weight: bold;
}
.buttons {
    float: right;
    margin-right:23%
}
button {
    border:none;
    background-color:#fff;
    cursor: pointer;
    color: #6e6d6bc5;
    font-weight: bold;
}
.backorange {
    border-top:3px solid #fb9c06;
    border-bottom:3px solid #fb9c06;
}
.likefirst, .likesecond {
    text-transform: uppercase;
    padding: 5px 5px 5px 15px;
}
.backorange {
    background: url(bigorange.jpg);
    background-size: cover;
    clear: both;
}
.likefirst { 
    background-color:#6e6d6bd2;
    color:#fb9c06;
    margin:50px 905px 15px 150px;
} 
.likesecond { 
    background-color: #fb9d06ab;
    color:#6e6d6b;
    margin:20px 905px 50px 150px;
}
.fourblocks>div {
    font-weight: bold;
}
.wrapper {
    margin: 0 125px 0 125px;
}
.fourblocks {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 15px 15px;
}  
.block {
    width: 23%;   
}
.read {
    font-style: italic;
    color: #fb9c06;
    padding-left: 145px;
    text-decoration: none;
}
.captn {
    color: #fb9c06;
    font-size: 22px;
    text-align:center;
    text-decoration: underline;
}
.threeblocks {
    display: flex;
    justify-content: space-around;
    margin: 20px -35px 15px -30px;
    color: #6e6d6b;
}  
.thblock {
    width: 23%;  
    text-align: center; 
}
.thblock>p {
    text-align: left;
}
.post {
    color: #fb9c06;
    text-decoration: none;
}
.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 20px 0 15px 0;
}
.forms {
    border:none;
    color: #fb9c06;
    font-size: 15px;
    margin:20px 150px 20px 150px;
}
input {
    width: 903px;
    background: #080808fd;
    border:none;
}
.lastinp {
    width: 880px;
    height: 40px;
}
.sub {
    color:#fff;
    background-color: #fb9c06;
    box-shadow:0 1px 1px #cc830f;
    float: right;
}
footer {
    background-color: #fb9c06;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    box-shadow:0 3px 2px #cc830f;
    margin-bottom: 5px;
    height: 20px;
}
