.services-card {
  padding: 35px 0 33px;
  font-family: "Bree-serif"; 
  color: #515862;
  text-align: center;
  font-size: 17px;
  
    &__img {
      padding-bottom: 25px;
        img {
          width: 119px;
          height: 119px;
        }
    }
    &__description {
      padding:10px 40px 0;
      text-align: center;
      color: #6e6d6bc5;
      font: 11px "Ubuntu"; 
    }
  }
  
 
   