.services-card {
  padding: 50px 0 35px;
  font-family: "Bree-serif"; 
  color: #515862;
  text-align: center;
  font-size: 17px;

    &__img {
      padding-bottom: 25px;
        img {
          width: 119px;
          height: 119px;
        }
    }
    &__description {
      padding:10px 40px 0;
      text-align: center;
      color: #6e6d6bc5;
      font-size: 11px;
      font-family: "Ubuntu"; 
      position: relative;
  
      &:after {
        content: "Details...";
        position: absolute;
        top:60px;
        left:95px;
        cursor: pointer;
        font-family: "Ubuntu-bold";
        font-size: 11px;
        color:#8bbddd;
      }
    }
  }
  @font-face {
    font-family: "Bree-serif"; 
    src: url("../fonts/Bree-serif.ttf") format("truetype"); 
  } 
  @font-face {
    font-family: "Ubuntu"; 
    src: url("../fonts/Ubuntu.ttf") format("truetype"); 
  } 
  @font-face {
    font-family: "Ubuntu-bold"; 
    src: url("../fonts/Ubuntu-bold.ttf") format("truetype"); 
  } 